<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="common">
			<section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
		</sectionGroup>

		<section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
	</configSections>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>

	<common>
		<logging>
			<factoryAdapter type="Common.Logging.NLog.NLogLoggerFactoryAdapter, Common.Logging.NLog41">
				<arg key="configType" value="INLINE" />
			</factoryAdapter>
		</logging>
	</common>

	<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
		<targets>
			<target name="logfile" xsi:type="File" fileName="${basedir}/logs/${shortdate}.log" />
			<!-- <target name="console" xsi:type="Console" /> -->
		</targets>

		<rules>
			<logger name="*" minlevel="Debug" writeTo="logfile" />
			<!-- <logger name="*" minlevel="Debug" writeTo="console" /> -->
		</rules>
	</nlog>

	<appSettings>

		<!-- CsvSettings settings: -->
		<!-- default value: , -->
		<add key="CsvSettings:FieldSeparator" value=","/>
		<!-- default value:  -->
		<add key="CsvSettings:Qualifier" value="&quot;"/>
		<!-- default value: HH:mm -->
		<add key="CsvSettings:TimeFormat" value="HH:mm"/>
		<!-- default value: 0.#### -->
		<add key="CsvSettings:NumberFormat" value="0.####"/>

		<!-- Reporting settings: -->
		<!-- default value: PowerPosition_{0}.csv -->
		<add key="ReportSettings:FileNameTemplate" value="PowerPosition_{0}.csv"/>
		<!-- default value: yyyyMMdd_HHmm -->
		<add key="ReportSettings:FileTimestampFormat" value="yyyyMMdd_HHmm"/>
		<!-- default value: path to the current directory -->
		<add key="ReportSettings:FilesDirectory" value=""/>
		<!-- default value: 5 -->
		<add key="ReportSettings:ReportingIntervalInMinutes" value="6"/>

	</appSettings>
</configuration>