<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>

	<appSettings>

		<!-- Reporting settings: -->
		<!-- default value: PowerPosition_{0}.csv -->
		<add key="ReportSettings:FileNameTemplate" value="PowerPosition_{0}.csv"/>
		<!-- default value: yyyyMMdd_HHmm -->
		<add key="ReportSettings:FileTimestampFormat" value="yyyyMMdd_HHmm"/>
		<!-- default value: path to the current directory -->
		<add key="ReportSettings:FilesDirectory" value=""/>
		<!-- default value: 5 -->
		<add key="ReportSettings:ReportingIntervalInMinutes" value="6"/>
		
	</appSettings>
</configuration>